fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
yt-dlp==2024.5.27
groq==0.9.0
httpx==0.27.0
sentence-transformers==2.7.0
transformers==4.36.0
torch==2.1.0
faiss-cpu
python-dotenv==1.0.1
pydantic==2.7.1
aiofiles==23.2.1
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.3.2
